*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}
.square{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin-right: 2rem;
    animation: rotate infinite 1.5s;
}
.square1{
    background-color:coral;
}
.square2{
    background-color: white;
}
.square3{
    background-color: green;
}

@keyframes rotate {
    from{
        transform:rotate(-45deg);
    }
    to{
        transform: rotate(45deg);
    }
}
